#organizer-splash
  .header.container
    .row
      .large-3.columns.logo
        %h2 Public Stand
      .signup-box.large-4.large-offset-5.columns
        = form_for @email_subscriber do |subscriber_form|
          = subscriber_form.text_field :email_address, placeholder: 'Your email address'
          = button_to "Signup", email_subscribers_path, class: "btn btn-theme"
  #hello
    .container
      .row
        .small-12.columns.centered
          %h1 We are the simplest call tool.
          %h2
            Have your campaign's supporters call officials in a click anywhere on the Internet.
            %br
            Desktop or mobile.


  #how-works
    .container
      .row
        .large-12.columns.centered
          %h2.no-margin How our call tool works
      .row
        .large-4.columns.centered
          %p.no-margin 1
          =image_tag "screenshot_homepage.png", class: "shadow"
          %p Create your dedicated call campaign page. This takes 3 minutes.
        .large-4.columns.centered
          %p.no-margin 2
          =image_tag "screenshot_twitter.png", class: "shadow"
          %p Link to your campaign page from emails, social media posts, and websites.
        .large-4.columns.centered
          %p.no-margin 3
          =image_tag "screenshot_calling.png", class: "shadow"
          %p Watch your supporters start calls in one click.
      .row
        .large-8.large-centered.columns.centered
          %p You’ll have access to all pertinent data for your campaign's calls, including call traffic, conversion, and caller geography.

  #cta
    .row.centered
      .large-6.large-offset-1.columns
        %p.lead
          Interested in having your supporters make phone calls with a click or two? Let's get in touch.
        = form_for @email_subscriber do |subscriber_form|
          = subscriber_form.text_field :email_address, placeholder: 'Your email address'
          = button_to "Signup", email_subscribers_path, class: "btn btn-theme"

      .small-12.large-4.columns.end
        %p.lead
          Interested in helping with our beta program?
          %br
          Drop us a line at
        %p.lead
          = link_to "team@publicstand.com", "mailto:team@publicstand.com"



