#mock-letter-splash
  = image_tag("flagforweb_03.jpg", :id =>"large-screen-image")
  #small-screen-image
    = image_tag("/assets/flagforweb_03_small_screen.jpg")
  .open-letter
    %h1.salutation Dear Internet,
    .letter-text
      %p We are tired of ineffective online petitions. We are tired of passion getting boiled down to number of emails collected. Nobody clicked their way to change. Why should we?
      %p Let’s help online advocacy grow up. Let’s use technology to make it cheaper, more accessible, and more meaningful. And let’s do it in a way that public officials can’t ignore.
      %p This is our mission at Public Stand. If you’re ready for change let us know, and we will let you know when we’re ready for action.
      %p 
        With love, 
        %br/
        Public Stand
    = form_for @email_subscriber do |subscriber_form|
      = subscriber_form.text_field :email_address, placeholder: 'Your email address'
      = button_to "Signup", email_subscribers_path, class: "button btn-theme btn"
