.row
  .columns.large-8.large-offset-2
    = form_for [@organization, @campaign] do |form|
      = form.label :name
      = form.text_field :name, maxlength: 35

      = form.label :description
      = form.text_area :description

      = form.fields_for :campaign_targets, @campaign_target do |campaign_target_form|
        = campaign_target_form.fields_for :target, @target do |target_form|
          = target_form.label :name, "Target Name"
          = target_form.text_field :name

          = target_form.label :phone_number, "Phone Number"
          = target_form.text_field :phone_number

        = campaign_target_form.hidden_field :id
        = campaign_target_form.hidden_field :campaign_id
        = campaign_target_form.hidden_field :target_id

        = campaign_target_form.label :script, "Talking Points"
        = campaign_target_form.text_area :script

        = campaign_target_form.label :twitter_share_text, 'Tweet Text (url will be added)'
        = campaign_target_form.text_field :twitter_share_text, data: {behavior: 'tweetPreview'}
        Example tweet:
        #tweet-preview #{@campaign.name} t.co/rndm42

      = form.submit
      - if @campaign.persisted?
        .right= link_to 'Cancel', organization_campaign_path(@organization, @campaign)
