.reveal-modal.large#mobile-instructions
  - campaign_target = @campaign.campaign_targets.first
  - target = campaign_target.target
  .row
    .columns.center
      .instructions
        .step-1
          %p We'll call and connect you
          = form_for [campaign_target, @phone_call], remote: true, data: {behavior: 'startMobileCall'} do |call_form|
            = call_form.text_field :from_number, placeholder: "Your Phone Number"
            = call_form.submit "Call Me", class: 'button'
        .step-2{hidden: 'hidden'}
          = render 'talking_points', campaign_target: @campaign.campaign_targets.first
          = link_to "I've completed the call...", '#', class: 'btn large', data: {behavior: 'displayNextStep'}
        .step-3{hidden: 'hidden'}
          = render 'feedback_form'
        .step-4{hidden: 'hidden'}
          = render 'social_sharing'
