= image_tag "phone_icon_circles.png", class: "center-block"
- @campaign.campaign_targets.each do |campaign_target|
  - target = campaign_target.target
  .in-browser-cta.hide-for-small.row.collapse
    .small-12.columns
      = in_browser_call_button(campaign_target, auto_trigger: @auto_trigger)

  .row.center.hide-for-small#or or

  .in-browser-cta.row.collapse
    .small-12.columns.tight-top
      = mobile_call_button(campaign_target)
  .campaign-target-info.hide-for-small
    -# - if @campaign.phone_calls.count > 0
      -# %p.center
        -# = "Calls made: #{@campaign.phone_calls.count}"
        -# %br
        -# = "Average Call Duration: #{average_call_time_of(campaign_target)}"
    .social.center
      = facebook_share_button(campaign_target)
      = tweet_button(campaign_target)
