= content_for(:title, @campaign.name)
= content_for(:custom_head) do
  %meta{property: 'og:title', content: @campaign.name}
  %meta{property: 'og:description', content: @campaign.description}

.contain-to-grid.header
  %nav.top-bar{:data => {'topbar' => true}}
    .row
      .columns.large-12
        %h1.left #{@campaign.name} Analytics
.row
  .columns.large-12
    %table.dynatable{data: {per_page_default: 20}}
      %thead
        %tr
          %th started at
          %th duration
          %th connected to
          %th email
          %th comments
          %th SID
      %tbody
        - campaign_target = @campaign.campaign_targets.first
        - campaign_target.phone_calls.completed.most_recent.each do |phone_call|
          %tr
            %td= format_time(phone_call.created_at)
            %td= phone_call.call_duration_in_minutes
            %td= phone_call.from_number
            %td= phone_call.feedback.try(:email_address)
            %td= phone_call.feedback.try(:comments)
            %td= phone_call.sid
