= javascript_include_tag "//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"
.row
  .columns.large-12
    .left.title= @campaign.name
    - if can? :manage, @campaign
      .left= link_to 'Edit', edit_organization_campaign_path(@organization, @campaign)
    .right.title-secondary by #{link_to @organization.name, @organization}
    = render 'layouts/stripes', clear: true
.row
  - if @picture.present?
    .columns.center
      = image_tag @picture.url
  - if can? :edit, @picture
    .columns.center
      = link_to 'Edit Image', edit_picture_path(@picture)
.row
  .columns.large-12.small-12
    .campaign-description= @campaign.description
  - @campaign.campaign_targets.each do |campaign_target|
    - target = campaign_target.target
    .columns.center.hide-for-small
      = link_to "Call #{target.name} from your computer", '#', class: 'button large round', id: 'call-link',
        data: { behavior: 'callTrigger displayNextAction',
        auto_trigger: @auto_trigger,
        reveal_id: 'instruction',
        campaign_id: @campaign.id,
        next_selector: '#hang-up-link' }
      = link_to "Hang Up", '#', style: "display: none;", id: 'hang-up-link', class: 'button large round',
        data: {behavior: 'hangUpTrigger displayNextAction', next_selector: '#hang-up-link'}
    .columns.center.hide-for-medium-up
      = form_for [@campaign, PhoneCall.new] do |call_form|
        .columns.small-4.small-offset-4
          = call_form.label :from_number, "Your Phone Number"
          = call_form.text_field :from_number
          = call_form.submit "Call #{target.name} from my phone"

    .reveal-modal#instruction
      .row
        .columns.center
          .instructions
            %h3 Don't know what to say?
            %h3 The clearest thing you can tell #{@campaign.targets.first.name} is:
          .script
            %h2 "#{campaign_target.script}"
            = link_to "Hang Up", '#', class: 'button large round',
              data: {behavior: 'hangUpTrigger displayNextAction', next_selector: '#hang-up-link'}
