= javascript_include_tag "//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"
.row
  %h1= @campaign.name
  %h2 by #{link_to @organization.name, @organization}
  %h3= @campaign.description

  - @campaign.campaign_targets.each do |campaign_target|
    - target = campaign_target.target
    %p= link_to "Call #{target.name}", '#'
    %p= link_to target.phone_number, '#'
    %p= campaign_target.script
