= content_for(:custom_head) do
  %meta{property: 'og:title', content: @campaign.name}
  %meta{property: 'og:description', content: @campaign.description}

.contain-to-grid
  %nav.top-bar{:data => {'topbar' => true}}
    %h1.left= @campaign.name

.row
  .columns.small-12.large-7
    / %h1= @campaign.name
    .image-bar
      = image_tag "http://2.bp.blogspot.com/-Snh94stTAN8/TmzI0pFKonI/AAAAAAAABtc/GLaosExZFaI/s1600/st.vincent-cruel.png", class: "shadow"
    %h3 by #{@organization.name}
    .campaign-description
      = @campaign.description
  .cta-banner.columns.small-12.large-4.large-offset-1
    = render 'sidebar'

= render 'webrtc_instructions'
= render 'flash_instructions'
= render 'mobile_instructions'
