= javascript_include_tag "//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"
.row
  .columns.large-12
    .left.title= @campaign.name
    .right.title-secondary by #{link_to @organization.name, @organization}
    = render 'layouts/stripes', clear: true
  .columns.large-11.large-offset-1.small-11.small-offset-1
    .campaign-description= @campaign.description
  - @campaign.campaign_targets.each do |campaign_target|
    - target = campaign_target.target
    .columns.center.hide-for-small
      = link_to "Call #{target.name} from your computer", '#', class: 'button large round',
        data: {behavior: 'callTrigger', campaign_id: @campaign.id, reveal_id: 'instruction'}
    .columns.center.hide-for-medium-up
      = form_for [@campaign, PhoneCall.new] do |call_form|
        .columns.small-4.small-offset-4
          = call_form.label :from_number, "Your Phone Number"
          = call_form.text_field :from_number
          = call_form.submit "Call #{target.name} from my phone"

    .reveal-modal#instruction{data: {reveal: nil}}
      %h6 Don't know what to say? Try this:
      .campaign-script= campaign_target.script
      = link_to "Hang Up", '#', id: 'hang-up-link', class: 'button large round', data: {behavior: 'hangUpTrigger', reveal_id: 'instruction'}
