= content_for(:title, @campaign.name)
= content_for(:custom_head) do
  %meta{property: 'og:title', content: @campaign.name}
  %meta{property: 'og:description', content: @campaign.description}

.contain-to-grid
  %nav.top-bar{:data => {'topbar' => true}}
    .row
      .columns.large-8#no-margin-or-padding
        %h1.left= @campaign.name

.row
  .large-7.columns
    .image-bar
      = image_tag @picture.url, class: 'shadow'
    %h4 by #{@organization.name}
    .campaign-description= @campaign.description
  .cta-banner.shadow.large-4.large-offset-1.columns
    = render 'sidebar'

= render 'webrtc_instructions'
= render 'flash_instructions'
= render 'mobile_instructions'
