= content_for(:custom_head) do
  %meta{property: 'og:title', content: @campaign.name}
  %meta{property: 'og:description', content: @campaign.description}

.contain-to-grid
  %nav.top-bar{:data => {'topbar' => true}}
    %h1.left= @campaign.name

.row
  .columns.small-12.large-7
    / %h1= @campaign.name
    .image-bar
      = image_tag "http://2.bp.blogspot.com/-Snh94stTAN8/TmzI0pFKonI/AAAAAAAABtc/GLaosExZFaI/s1600/st.vincent-cruel.png", class: "shadow"
    %h3 by #{@organization.name}
    .campaign-description
      = @campaign.description
  .cta-banner.shadow.columns.small-12.large-4.large-offset-1
    = image_tag "phone_icon_circles.png", class: "center-block"
    - @campaign.campaign_targets.each do |campaign_target|
      - target = campaign_target.target
      .in-browser-cta.hide-for-small.row.collapse
        .small-12.columns
          = in_browser_call_button(campaign_target, auto_trigger: @auto_trigger)

      .row.center.hide-for-small#or or

      .in-browser-cta.row.collapse
        .small-12.columns.tight-top
          = link_to "Call from your phone", '#', class: 'button postfix'
      .campaign-target-info.hide-for-small
        %p.center
          = "Calls made: 5"
          %br
          = "Average Call Duration: #{average_call_time_of(campaign_target)}"
        .social.center
          - share_url = organization_campaign_url(@organization, @campaign)
          = facebook_share_button(share_url)
          = tweet_button(share_url, @campaign.name)

= render 'webrtc_instructions'
= render 'flash_instructions'
= render 'mobile_instructions'
