= content_for(:title, @campaign.name)
= content_for(:custom_head) do
  %meta{property: 'og:title', content: @campaign.name}
  %meta{property: 'og:description', content: @campaign.description}

.contain-to-grid.header
  %nav.top-bar{:data => {'topbar' => true}}
    .row
      .columns.large-8
        %h1.left= @campaign.name
.sticky.hide-for-medium-up
  - campaign_target = @campaign.campaign_targets.first
  = mobile_call_button(campaign_target, text: 'Call Now!')


.row
  .large-7.columns
    .image-bar
      = image_tag @picture.url, class: 'shadow'
    %h4 by #{@organization.name}
    .campaign-description= @campaign.description
= render 'sidebar'

= render 'webrtc_instructions'
= render 'flash_instructions'
= render 'mobile_instructions'
