.row
  .columns.large-8.large-offset-2
    = form_for @organization do |form|
      = form.label :name
      = form.text_field :name

      = form.label :description
      = form.text_area :description

      = form.label :vanity_string, 'Vanity String'
      = form.text_area :vanity_string

      = form.submit
      - if @organization.persisted?
        .right= link_to 'Cancel', vanity_organization_url(@organization)
