.row
  .columns.large-8.large-offset-2
    = form_for @organization do |form|
      = form.label :name
      = form.text_field :name

      = form.label :description
      = form.text_area :description

      = form.submit
