.row
  .column.large-12
    .left.title= @organization.name
.row
  .column.large-12
    %h6= @organization.description
    %h3 Campaigns:
.row
  .column.large-11.large-offset-1
    - @organization.campaigns.each do |campaign|
      %h3= link_to(campaign.name, [@organization, campaign])
      .large-10.large-offset-1= campaign.description
    .columns
    %h3= link_to "Create a new campaign", new_organization_campaign_path(@organization)
